@import "tailwindcss";

body{
  margin:0;
  padding:0;
  box-sizing: border-box;  
}
*{
 font-family: gilroy;
}

@media screen and (min-width:768px) {
  .searchuserbox:focus{
  width:360px;
}
}

/* set scrollbar height and weidth to 0 so that it will be removed from page */
::-webkit-scrollbar{
    width: 0px;
  }

  /* This restores scrollbar only for .custom-scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
